{% extends 'base.html.twig' %}

{% block title %}Auto index{% endblock %}

{% block body %}
    <h1>Auto index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>VersionName</th>
                <th>VersionPrice</th>
                <th>ColorName</th>
                <th>ColorPrice</th>
                <th>RimsName</th>
                <th>RimsPrice</th>
                <th>SeatName</th>
                <th>SeatPrice</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for auto in autos %}
            <tr>
                <td>{{ auto.id }}</td>
                <td>{{ auto.versionName }}</td>
                <td>{{ auto.versionPrice }}</td>
                <td>{{ auto.colorName }}</td>
                <td>{{ auto.colorPrice }}</td>
                <td>{{ auto.rimsName }}</td>
                <td>{{ auto.rimsPrice }}</td>
                <td>{{ auto.seatName }}</td>
                <td>{{ auto.seatPrice }}</td>
                <td>
                    <a href="{{ path('auto_show', {'id': auto.id}) }}">show</a>
                    <a href="{{ path('auto_edit', {'id': auto.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('auto_new') }}">Create new</a>
{% endblock %}
