

<div class="container formHidden">

    <!-- informations général -->

    <!-- version -->



    {{ form_row(form.versionPrice , {'value': "0.01" } ) }}

    {{ form_row(form.colorPrice, {'value': "0" } ) }}

    {{ form_row(form.rimsPrice, {'value': "0" }) }}

    {{ form_row(form.seatPrice, {'value': "0" }) }}

    <!-- les equipements -->

    <li> {{ form_row ( form.footrest, {'value': "0.01" } ) }} </li>
    <li> {{ form_row ( form.heritagePack, {'value': "0.01" } ) }} </li>
    <li> {{ form_row ( form.helpParkingBack, {'value': "0.01" } ) }} </li>
    <li> {{ form_row ( form.helpParkingBefore, {'value': "0.01" } ) }} </li>

    <li> {{ form_row ( form.reverseCamera, {'value': "0.01" } ) }} </li>
    <li> {{ form_row ( form.sportExhaust, {'value': "0.01" } ) }} </li>
    <li> {{ form_row ( form.storagePack, {'value': "0.01" } ) }} </li>
    <li> {{ form_row ( form.cruiseControl, {'value': "0" } ) }} </li>

    <li> {{ form_row ( form.outsideRetro, {'value': "0.01" } ) }} </li>
    <li> {{ form_row ( form.interiorMirror, {'value': "0" } ) }} </li>
    <li> {{ form_row ( form.focalSound, {'value': "0.01" } ) }} </li>
    <li> {{ form_row ( form.premiumAudio, {'value': "0.01" } ) }} </li>

    <li> {{ form_row ( form.sound, {'value': "0" } ) }} </li>
    <li> {{ form_row ( form.alpineMetrics, {'value': "0.01" } ) }} </li>
    <li> {{ form_row ( form.bleuCalliper, {'value': "0.01" } ) }} </li>
    <li> {{ form_row ( form.greyCalliper, {'value': "0" } ) }} </li>

    <li> {{ form_row ( form.alpineLogo, {'value': "0.01" } ) }} </li>
    <li> {{ form_row ( form.wheelLogo, {'value': "0.01" } ) }} </li>
    <li> {{ form_row ( form.carbonePack, {'value': "0" } ) }} </li>
    <li> {{ form_row ( form.aluminumPedal, {'value': "0.01" } ) }} </li>


    <li> {{ form_row ( form.heatedSeat, {'value': "0.01" } ) }} </li>
    <li> {{ form_row ( form.brakeAssist, {'value': "0" } ) }} </li>
    <li> {{ form_row ( form.highPerformanceBrake, {'value': "0.01" } ) }} </li>
    <li> {{ form_row ( form.airbag, {'value': "0" } ) }} </li>



    <!-- les accessoire -->


    <li> {{ form_row ( form.alarm, {'value': "0.01" } ) }} </li>
    <li> {{ form_row ( form.chain, {'value': "0.01" } ) }} </li>
    <li> {{ form_row ( form.extinguishing, {'value': "0.01" } ) }} </li>
    <li> {{ form_row ( form.fixation, {'value': "0.01" } ) }} </li>

    <li> {{ form_row ( form.kitSecurity, {'value': "0.01" } ) }} </li>
    <li> {{ form_row ( form.obd, {'value': "0.01" } ) }} </li>
    <li> {{ form_row ( form.cameraSupport, {'value': "0.01" } ) }} </li>
    <li> {{ form_row ( form.smartphoneSupport, {'value': "0.01" } ) }} </li>

    <li> {{ form_row ( form.net, {'value': "0.01" } ) }} </li>
    <li> {{ form_row ( form.mat, {'value': "0.01" } ) }} </li>
    <li> {{ form_row ( form.batteryCharger, {'value': "0.01" } ) }} </li>
    <li> {{ form_row ( form.kitTools, {'value': "0.01" } ) }} </li>

    <li> {{ form_row ( form.antiTheft, {'value': "0.01" } ) }} </li>
    <li> {{ form_row ( form.cabochons, {'value': "0.01" } ) }} </li>
    <li> {{ form_row ( form.cover, {'value': "0.01" } ) }} </li>




</div>
