{% extends 'base.html.twig' %}

{% block title %} Mon profil {% endblock %}

{% block stylesheets %}

    <!-- nos liens css -->
    <link rel="stylesheet" href="{{ asset('build/css/navFooter.css') }}">
    <link rel="stylesheet" href="{{ asset('build/css/showUser.css') }}">

    <!-- Boostrap -->
    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
            integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
            crossorigin="anonymous"
    />


{% endblock %}

{% block body %}

<div class="container containerProfile" id="app" >
    <div class="row">
        <div class="col-md-10"><h2> {{ user.lastName }}  {{ user.firstName }}</h2></div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-4 d-flex flex-column">
            <!--left col with photo picture-->
            <div class="text-center align-self-center mb-3">
                <!-- mettre l'image de l'utilisateur-->
                <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle rounded-circle img-thumbnail" alt="avatar">
            </div>
            <br>
            <!-- une liste d'informations importante-->
            <ul class="list-group">
                <li class="list-group-item text-center"> Vos Informations <i class="fa fa-dashboard fa-1x"></i></li>
                <li class="list-group-item text-right">
                    <span class="pull-left">
                        <strong> {{ user.lastName }}  {{ user.firstName }} </strong>
                    </span>
                </li>
                <li class="list-group-item text-right">
                    <span class="pull-left">
                        <strong>Nombre de voiture </strong>
                    </span> {{ user.getAutos() | length }}
                </li>

                <li class="list-group-item text-right">
                    <span class="pull-left">
                        <strong>Email</strong>
                    </span> {{ user.email }}
                </li>
                <li class="list-group-item text-right">
                    <span class="pull-left">
                        <strong>Adresse</strong>
                    </span> {{ user.adress }}
                </li>
            </ul>
        </div><!-- fin du petit contenaire-->
        <!-- LE GROS CONTENAIRE-->
        <div class="col-sm-8">
            <!-- BARRE DE NAVIGATION -->
            <section id="navUser" class="siteheader nav nav-tabs">
                <ul class="siteheader__section">

                    <li class="siteheader__item siteheader__btn px-lg-5 active px-sm-0" v-on:click="btnUserIsActive(1)" :class="btnUser? 'activeValid': 'activeNoValid'">
                        <i class="fa fa-user-circle mr-2" ></i>
                        <a data-toggle="tab" href="#utilisateur">Utilisateur</a>
                    </li>

                    <li class="siteheader__item siteheaderlogo">
                        |
                    </li>
                    <li class="siteheader__item siteheader__btn px-lg-5 px-sm-0 " v-on:click="btnAutoActive(2)" :class="btnAuto? 'activeValid': 'activeNoValid'" >
                        <i class="fa fa-car mr-2"></i>
                        <a data-toggle="tab" href="#autoId">Vos Automobiles</a>
                    </li>
                </ul>
            </section>

            <div class="tab-content contenair">
                <!-- les informations du profil 1ER Pannel-->
                <div class="tab-pane row" v-on:click="activate(1)" :class="{ active : active_el == 1 }" id="utilisateur">
                    <!-- prenom-->
                    <div class="form-group col-6">
                        <div class="col-xs-6">
                            <div>
                                <h5 class="font-weight-bold">Prenom </h5>
                                <p>{{ user.firstName }} </p>
                            </div>

                        </div>
                    </div>

                    <div class="form-group col-6">
                        <div class="col-xs-6">
                            <div>
                                <h5 class="font-weight-bold">Nom</h5>
                                <p>{{ user.lastName }} </p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-6">
                        <div class="col-xs-6">
                            <div>
                                <h5 class="font-weight-bold">Email</h5>
                                <p>{{ user.email }} </p>
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-6">
                        <div class="col-xs-6">
                            <div>
                                <h5 class="font-weight-bold">Adresse</h5>
                                <p>{{ user.adress }} </p>
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-6">
                        <div class="col-xs-6">
                            <div>
                                <h5 class="font-weight-bold">Pays</h5>
                                <p>{{ user.country }}</p>
                            </div>
                        </div>
                    </div>

                    <div>
                        <a href="{{ path ('user_edit', {'id' : user.id}) }}" style="margin-top : -60px;" class="btn float-right  btn-success">Editer</a>

                    </div>
                    <!-- fin 1er pannel -->
                    <hr class="mt-3">
                    <!-- 2EME PANNEL AUTO-->
                </div><!--/tab-pane-->
                <div class="tab-pane"  @click="activate(2)" :class="{ active : active_el == 2 }" id="autoId">

                    {% set i = 0 %}

                    {% for auto in user.autos %}

                        <hr>
                        <div class="container containerAuto">
                            <div class="accordion-option">
                                <h3 class="title">Automobile n°{%  set  i = i + 1  %} {{ i }}</h3>
                                <a href="javascript:void(0)" class="toggle-accordion active" accordion-id="#accordion"></a>
                            </div>
                            <div class="clearfix"></div>
                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingOne">
                                        <h4 class="panel-title">
                                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                Caractéristiques
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                        <div class="panel-body d-flex  flex-wrap">
                                            {% include 'user/partial/carousel.html.twig' %}
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingTwo">
                                        <h4 class="panel-title">
                                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                                Les équipements
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
                                        <div class="panel-body">
                                            {% include 'user/partial/equipment.html.twig' %}

                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingThree">
                                        <h4 class="panel-title">
                                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                                                Les accessoires
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseThree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
                                        <div class="panel-body">
                                            {% include 'user/partial/accessories.html.twig' %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- fin du contenair -->
                        <hr>
                    {% endfor %}
                </div>
            </div>
            <!--/tab-pane-->
        </div> <!--/col-sm-8 AND--/tab-content-->
    </div><!--/row-->
</div> <!--/contenair-->

    {#<h1>User je suis là</h1>

    {{ user.autos | length  }}

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ user.id }}</td>
        </tr>
        <tr>
            <th>FirstName</th>
            <td>{{ user.firstName }}</td>
        </tr>
        <tr>
            <th>LastName</th>
            <td>{{ user.lastName }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ user.email }}</td>
        </tr>


        <tr>
            <th>Adress</th>
            <td>{{ user.adress }}</td>
        </tr>
        <tr>
            <th>Country</th>
            <td>{{ user.country }}</td>
        </tr>
        <tr>
            <th>Password</th>
            <td>{{ user.password }}</td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('user_index') }}">back to list</a>

    <a href="{{ path('user_edit', {'id': user.id}) }}">edit</a>

    {{ include('user/_delete_form.html.twig') }}#}



{% endblock %}

{% block javascripts %}
    <!-- Vue JS en CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.js"></script>

    <script src="/js/appDetailUser.js"></script>

{% endblock %}
